#name {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#comment {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-post .form-control:focus {
	z-index: 2;
}

li .btn {
	float: right;
	transition: all 0.3s;
	opacity: 0;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
}

li:hover .btn {
	opacity: 1;
	cursor: pointer;
}
